# Configuration file for rtl2gds framework utility.
#--------------------------------------------------------------------
# LEFFILES setting in this file has higher priority than the one 
# provided along with tool invocation. The "--lib_lef" option is
# is ignored  in this case.
#-------------------------------------------------------------------- 
#
# USER NEED NOT MODIFY ANYTHING UNLESS,
#      1. Multiple LEF files -> Eg: tech-lef, stdcell-lef, memory-lef, 
#         analog-lef etc is split into multiple files.
#         Varialbe LEFFILES need to be edited.
#         
#      2. Power net names are different.
#          If the power-net name is not VDD, something like VCC, the 
#	  variable POWERNET has to be modified.
#	  If the ground-net name is not GND, something like VSS, the
#	  variable GROUNDNET has to be modified.
#
#      3. Metal layers where power-routing has to be done is different.
#          Tool assumes, the metal layers "NAME" (as in technology-lef)
# 	  where the power rings has to be created as "metal6" and 
#	  "metal5".
#	  "metal6" and "metal5" are the "names" of the 6th and 5th metal
#	  layers in OSU-180nm library(The default library). 
#	  If the library is different probably this is also different.
#	  Check the tech-lef and update accordingly.
#
#      4. FILLER cell name is different.
#          Tool assumes the filler cell "NAME" to be inserted in the final 
#	  step as "FILL". (Filler Cell Name in OSU-180nm technology)
#	  If this name is different, the variable FILLCELL has to be
#	  edited. Filler cells are usually defined in std-cell lef.
#
#      5. GDS2 stream out map file is different in SoC Encounter.
#          The map file provided in the "pnr/scripts/gds2_encounter.map"      
#	  is only for OSU-180nm library. If the technology is different
#	  this file needs to be modified.
#
#---------------------------------------------------------------------- 
#---------------------------------------------------------------------- 
# Provide Technology LEF as the first file always.
global LEFFILES
set LEFFILES "NONE"
# Eg: Uncomment the following line for Faraday UMC-90 technology.
#set LEFFILES /home/projects1/cms_dsm/Faraday_Core_UMC90nm_Tapeout_Kit/fsd0a_a/2010Q4v2.1/GENERIC_CORE/BackEnd/lef/header6m015_V55.lef /home/projects1/cms_dsm/Faraday_Core_UMC90nm_Tapeout_Kit/fsd0a_a/2010Q4v2.1/GENERIC_CORE/BackEnd/lef/fsd0a_a_generic_core.lef
#---------------------------------------------------------------------- 
global POWERNET
set POWERNET "NONE"
# Eg: Uncomment the following line for Faraday UMC-90 technology.
#set POWERNET VCC
#---------------------------------------------------------------------- 
global GROUNDNET
set GROUNDNET "NONE"
# Eg: Uncomment the following line for Faraday UMC-90 technology.
#set GROUNDNET GND
#---------------------------------------------------------------------- 
# Metal layer names are defined in technology-lef.
global METALFIVENAME
global METALSIXNAME
set METALFIVENAME "NONE"
set METALSIXNAME "NONE"
# Eg: Uncomment the following lines for Faraday UMC-90 technology.
#set METALFIVENAME ME5
#set METALSIXNAME ME6
#---------------------------------------------------------------------- 
# User may include more than 1 filler cell name. 
global FILLERCELLNAME
set FILLERCELLNAME "NONE"
# Eg: Uncomment the following line for Faraday UMC-90 technology.
#set FILLERCELLNAME FILLERD1
#---------------------------------------------------------------------- 
global GDSMAPFILE
set GDSMAPFILE "NONE"
# Eg: 
#set GDSMAPFILE PATH_TO_FILE/streamOut.map
#Faraday UMC-90 technology encounter streamOut file is not provided as
#part of the library. User need to create it manually.
#---------------------------------------------------------------------- 
# END OF FILE
#---------------------------------------------------------------------- 
